@model GestionVentesMVC6.Models.Vendeur

@{
    ViewData["Title"] = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sûr de vouloir supprimer ce vendeur?</h3>
<div>
    <h4>Vendeur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Actif)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Actif)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Retour à la liste</a>
        </div>
    </form>
</div>
